@import url(https://fonts.googleapis.com/css?family=Roboto);
@import url(//maxcdn.bootstrapcdn.com/font-awesome/4.3.0/css/font-awesome.min.css);

* {
  font-family: Roboto;
}

body {
  margin: 0px;
  padding: 0px;
  overflow-x: hidden;
}

.sidenav {
  display: flex;
  flex-direction: column;
  justify-content: center;
  position: absolute;
  right: 0px;
  top: 0px;
  height: 100%;
  width: 60px;
  background: #000011;
}

.sidenav .nav {
  position: relative;
  display: flex;
  align-items: center;
  z-index: 1000;
  left: 0px;
  transition: all 0.4s ease;
  cursor: pointer;
}

.sidenav .nav.active {
  left: -10px;  
}

.sidenav .nav:hover {
  left: -85px; /* Border width*2 */
}

.sidenav .description,
.sidenav .icon {
  height: 60px;
  line-height: 60px;
  background: #134176;
}

.sidenav .nav.active .description,
.sidenav .nav.active .icon {
  background: #2e1845;
}

.sidenav .icon {
  width: 60px; /* Width of navbar */
  text-align: center;
  color: #e9e9e9;
  font-size: 25px;
  position: absolute;
  left: 0;
  right: 0;
  top: 0;
  bottom: 0;
}

.sidenav .description {
  position: relative;
  left: 60px;
  color: #eee;
  min-width: 80px;
  padding-left: 20px;
  height: 100%;
}
